doctype html
html
  head
    link(rel='stylesheet', href='/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arvo')
  body
    div.container
      h1.title= 'know thyself'
